// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.register-page__main {
    box-shadow: 1px 1px 17px 9px #dce0e9;
    background-color: $base;
    width: 100%;
}
